* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #2d3439;
  --secondary-color: #42484d;
  --main-text-color: #ececec;
  --secondary-text-color: #989898;
  --cycling-color: #ffb545;
  --running-color: #00c46a;
}

body {
  font-family: "manrope", sans-serif;
  color: var(--main-text-color);
}

.app {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.337);
  background-color: red;
  border-radius: 10px;
  overflow: hidden;

  height: calc(100vh - 50px);
  margin: 25px;

  display: flex;
}

.sidebar {
  width: 35%;
  background-color: var(--main-color);
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.logo {
  height: 52px;
  justify-self: center;
}

.workouts {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 20px;

  padding: 20px 30px;

  background-color: var(--secondary-color);
  border-radius: 5px;
}

.form__row {
  flex-basis: calc(50% - 10px);

  display: flex;
  justify-content: space-between;
}

.form__label {
  font-weight: bold;
  text-transform: capitalize;
}

.form__input {
  width: 80px;
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--main-color);
}

.workout {
  list-style: none;
  background-color: var(--secondary-color);
  border-radius: 5px;

  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.running {
  border-left: 5px solid var(--running-color);
}

.cycling {
  border-left: 5px solid var(--cycling-color);
}

.activities {
  display: flex;
  justify-content: space-between;
}

.activity span {
  font-weight: bold;
  font-size: 12px;
  color: var(--secondary-text-color);
}

footer {
  color: var(--secondary-text-color);
  font-size: 15px;
  font-weight: 200;
}

footer span {
  text-decoration: underline;
}

#map {
  flex-grow: 1;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  background-color: var(--secondary-color) !important;
  border-radius: 5px !important;
  color: var(--main-text-color) !important;
  border-left: 5px solid var(--cycling-color) !important;
  padding-right: 0.6rem !important;
}

.leaflet-popup-close-button {
  color: var(--main-text-color) !important;
  font-weight: bold !important;
}

.leaflet-popup-tip {
  background-color: var(--secondary-color) !important;
}
.leaflet-popup-tip-container {
  z-index: 9 !important;
}

.form--hidden {
  display: none;
}
